/*================Responsive CSS===============*/

@media screen and (max-width: 1300px){
	footer#footer{
		background-size: cover;
	}
}

@media screen and (max-width: 1024px){
	.ajax-trigger-inner{
		max-width: 260px;
	}
	
	.nav>li>a{
		padding: 92px 20px 15px;
	}
}

@media screen and (max-width: 991px){
	.latest-news .blog .description{
		margin-top: 2em;
	}
	
	.latest-news .blog .latest-image{
		margin: 0 auto;
	}
	
	.home-tagline .container{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.sliding-news .projects-feed-list table tr td{
		display: block;
	}
	
	.ajax-trigger{
		background: transparent;
		border-left: 1px solid #FFF;
		padding-left: 0;
		margin-left: 0;
	}
	
}

@media screen and (max-width: 767px){
	.latest-news{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.latest-news .container > .row {
	    max-width: none;
	    float: none;
	}
	.blog {
	    text-align: center;
	}
	.blog .latest-image {
	    margin: auto;
	}
	
	.latest-news .container{
		padding-left: 0;
		padding-right: 0;
	}
	
	.projects-feed-area{
		margin-top: 2em;
		padding-top: 3em;
	}
	
	.sliding-news .projects-feed-list table tr td img{
		margin: 0 auto;
	}
	
	.projects-feed-area .sliding-area, .sliding-news .projects-feed-list, .sliding-news .projects-feed-list table tr td{
		padding-left: 0;
		padding-right: 0;
	}
	
	.page-ajax{
		padding-bottom: 50px;
	}
	
}
@media screen and (max-width: 633px){
	.home-tagline .container {
	    margin: 0px auto;
	}
}
@media screen and (max-width: 580px){
	.copyrights {
	    width: 100%;
	    text-align: center;
	}
	.social-media {
	    text-align: center;
	    width: 100%;
	}
	#footer p {
		line-height: 40px;
	}
	#footer a {
	    line-height: 40px;
	}
	footer#footer {
	    background-color: #333333;
	    min-height: 0px;
	    margin-bottom: 0px;
	    padding: 10px 0;
	}
}

@media screen and (max-width: 480px){
	.blog{
		width: 100%;
	}
	
	.ajax-trigger-inner{
		max-width: 320px;
	}
	
}


